<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.mlbz521.RecoveryAgent</string>
    <key>ServiceDescription</key>
    <string>Monitors the health of the Jamf Management Framework.</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>(/private/var/jra/jamf_RecoveryAgent.sh)</string>
    </array>
    <key>StartInterval</key>
    <integer>604800</integer>
</dict>
</plist>